<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @comment.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @comment.show %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
