<style>
	.form{
		width: 500px;
	}

</style>
<div class="container website" style="padding-bottom: 30px;" >
	</br>
	<div class="row">
		<div class="col-sm-4">
			<%= image_tag(current_user.image, style:"width: 250px; height: auto;" )%>
		</div>

		<div class="col-sm-4">
			<h1> <%= current_user.name %> </h1> 		
			<p style="font-size: 20px;"> <%= current_user.sex %> </p>
			<p style="font-size: 15px;"> Missing location for now </p>
			<p style="font-size: 15px;"> <%= current_user.biography %> </p>
		</div>

		<div class="col-sm-4">
			<div class="float-right">
				<button type="button" class="btn btn- btn-sm" style="background-color: black ; border: white; font-weight: bold ">
					<%= link_to 'Edit your profile', edit_user_registration_path %>
				</button>
			</div>
		</div>
	</div>
	<center> <h1> Post something ... </h1> </br> </center>
	<div class="row justify-content-md-center" style="margin-top: 5px;">
		<%= render :partial => 'posts/form', :locals => { :post => @post } %>
		<%= render :partial => "posts/show" %>
	</div>
</div>
	