<style>
	.form{
		width: 500px;
	}

</style>
<div class="container website" style="padding-bottom: 30px;" >
	</br>
	<div class="row">
		<div class="col-sm-4">
			<%= image_tag(@user.image, style:"width: 250px; height: auto;" )%>
		</div>

		<div class="col-sm-4">
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col"> 
							<center> <h1 style="color: white;"> <%= @user.name %> </h1> </center> 		
						</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<th scope="row">
								<center> <p style="font-size: 20px;"> <%= @user.sex %> </p> </center>
							</th>
						</tr>
						<tr>
							<th scope="row">
								<center> <p style="font-size: 15px;"> Missing location for now </p> </center>
							</th>
						</tr>
						<tr>
							<th scope="row">
								<center> <p style="font-size: 15px;"> <%= @user.biography %> </p></center>
							</th>
						</tr>
				</tbody>
			</table>
		</div>

		<div class="col-sm-4">
			<div class="float-right">
				<% if current_user.role == "SuperAdmin" && current_user.email == "super@admin.cl" %>
					<% if @user.role != "SuperAdmin" %>
						<button type="button" class="btn btn-success btn-md" style="font-weight: bold; margin-right: 5px; color: white;" >
						<%= link_to 'Enable SuperAdmin', { controller: :users, action: :enable_admin } %>   
						</button>
					<% else %>
						<button type="button" class="btn btn-md" style="font-weight: bold; margin-right: 5px; color: white; background-color: red;" >
						<%= link_to 'Unable SuperAdmin', unable_superadmin_path(user_id: @user.id) %>
						</button>
					<% end %>
				<% end %>
				<% if current_user.role == "SuperAdmin" %>
					<% if @user.role != "Admin" %>
						<button type="button" class="btn btn-success btn-md" style="font-weight: bold; margin-right: 5px; color: white;">
						<%= link_to 'Enable Admin', enable_admin_path(user_id: @user.id) %>  
						</button>
					<% else %>
						<button type="button" class="btn btn-md" style="font-weight: bold; margin-right: 5px; color: white; background-color: red;">
						<%= link_to 'Unable Admin', unable_admin_path(user_id: @user.id) %> 
						</button>
					<% end %>
				<% end %>
				<% if current_user.role == "SuperAdmin" || current_user.role == "Admin"%>
					<button type="button" class="btn btn-warning btn-md" style="font-weight: bold; color: white;">
						<%= link_to "Edit User", edit_user_path %>
					</button>
				<% end %>
			</div>
		</div>
	</div>
	<center> <h1> Post something ... </h1> </br> </center>
	<div class="row justify-content-md-center" style="margin-top: 5px;">
		<%= render 'posts/form', post: @post_new  %>
		<%= render :partial => "posts/show" %>
	</div>
</div>