  <% if user_signed_in? %>
    <div class="container" style="top-margin: 5px;">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-auto">
				<h2> Check the ...</h2> </br>
				<button type="button" class="btn btn-secondary btn-lg"> Hello </button> </br>
				<button type="button" class="btn btn-secondary btn-lg"> Hello </button> </br>
				<h2> Advertising </h2> </br>
					<a> <%= image_tag("coke.png", size:'160x200') %> </a> 
					</br>
					</br>
					</br>
					<a> <%= image_tag("glovo.png", size:'160x200') %> </a> </br>
					</br>
					</br>
					</br>
					<a> <%= image_tag("got.png", size:'160x200') %> </a> </br>
					</br>
					</br>
					</br>
					<a> <%= image_tag("niu.png", size:'160x200') %> </a> </br>

			</div>
			<div class="col-lg-auto">
				<center> <h1> What's new on your life? </h1> </br> </center>
				<%= render :partial => 'posts/form', :locals => { :post => @post , :user => current_user } %>
				<div class="panel-group">
						<%= render :partial => "posts/show" %>
				</div>
				<div class="col-sm-auto">
					
			    </div>
			</div>	
		</div>
	</div>
    </div>


  <% else %>
    <div class="container">
		<div class="jumbotron">
		      <div class="row">
			      <div class="col">
				      <h1>Welcome to Filch's Corner™</h1>
				      <p style="font-size: 20px;">The website where you can help making the world a better place. Complaint of any traffic, social, environmental, safety or any type of problems that happen in your neightborhood or city, share it with others users of the Filch Universe and be part of the people's revolution that the world is needing for the future. </p>
			      </div>
			      <div class="col">
			      	<center><%= image_tag('filch.png', size: '250x350') %></center>
			      </div>
	      	      </div>	
		</div>
    </div>    
  <% end %>
