<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
	<li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
	  <div class="panel panel-primary" style="width: 700px; height: 315px;">
	    <div class="panel-heading">
	      <div class="field">
			<%= form.label :title %>
			<%= form.text_field :title, size: "70" %>
	      </div>
	    </div>
	    <div class="panel-body">
	      <div class="field">
			<%= form.label :files %>
			<%= form.file_field :files, multiple: true %>
	      </div>
	    </div>
	    <div class="panel-footer">
	      <div class="field">
			<%= form.label :description %>
			<%= form.text_area :description, cols: 68, rows: 5 %>
	      </div>

	      <div class="actions">
	    	<%= form.submit %>
	  	  </div>
	    </div>
	  </div>
  </center>
  
<% end %>

