<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css/"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css/"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-grid.css/"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-grid.min.css/"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-reboot.css/"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-reboot.min.css/"/>

    <link rel="shortcut icon" href="images/filch_icon.png" /> 
    <!‐‐ Librería jQuery requerida por los plugins de JavaScript ‐‐>
    <script src="http://code.jquery.com/jquery.js"></script>
    <!‐‐ Todos los plugins JavaScript de Bootstrap ‐‐>
    <script src="js/bootstrap.js"> </script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <style>
    .website{
      margin-left: 70px;
      margin-right: 20px;
    }
  	.filch-title{
  		font-family: "Times New Roman", Times, serif;
  		font-size: 70px;
  		color: black;
  		font-weight: bold;
  		}
  	.policy{
  		color: black;
  		font-size: 20px;
  		background-color: grey;
  	}
    .top-margin{
      margin-top: 20px;
    }
    .container{
      background-color: #cabea9;
    }
  </style>
  <body style="background-color: peru">
    <header>
    	<div class="container" style="height: 200px" >
    		<div class="jumbotron" style="background-color: #cabea9; padding-top: 0px; ">
    			<div class="page-header" >
    				<div class="row">
  	                <div class="col">
  	                    	<%= image_tag('filch.png', size: '70x90') %>       
  	                </div>

  	                <div class="col">
  	                	<center> <h1 class="filch-title" >FILCH</h1> 
                        </br>
                        <% if user_signed_in? %>
                            <%= form_tag(users_show_path method: :get) do %>
                              <%= text_field_tag :name, params[:name] %>
                            <button type="submit">
                              <%= image_tag('search.png', size: '40x30')%> 
                            </button>
                            <% end %>
                        <% end %>
                      </center>
  	                </div>

  	                <div class="col">
  	                	<div class="row float-right">
                        <button type="button" class="btn btn-lg" style="background-color: black; font-weight: bold; display: inline-block; margin-right: 3px;" > 
    	                		<%= link_to('Home', :root) %> </button>
                     
                            <% if user_signed_in? %>
                                <button type="button" class="btn btn-lg" style="background-color: black; font-weight: bold; display: inline-block; margin-right: 3px;">
                                  <% if current_user.image.attached? %>
                                    <%= image_tag(current_user.image, size: '40x30') %>
                                    <%= link_to "Profile", profile_path, class: "button is-info" %>
                                  <% else %>
                                    <%= link_to "Profile", profile_path, class: "button is-info" %>
                                  <% end %>
                                </button>
                                <button type="button" class="btn btn-lg" style="background-color: black; font-weight: bold; display: inline-block;">
                                  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
                                </button>
                                  
                                  

                            <% else %>
                              <div class="dropdown show">
                                  <a class="btn btn-link dropdown-toggle btn-lg" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black; color: #687bc0; font-weight: bold; display: inline-block;">
                                    Join Us
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" style="font-size: 20px;"> <%= link_to "Log In", new_user_session_path, class: "button is-info" %> </a>
                                    <a class="dropdown-item" style="font-size: 20px;"> <%= link_to "Register", new_user_registration_path, class: "button is-info" %> </a>
                                  </div>
                              </div>
                            <% end %>
                      </div>
  	                </div>
  	            </div>
    			</div>
    		</div>
    	</div>
    </header>



  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
    <%= yield %>
    <% if request.url != 'localhost:3000/policy/index' %>
      <center>
        <div class="top-margin">
          <button id="b1" type="submit" class="btn btn-default btn-lg" role="button" style="background-color: black; font-weight: bold"> <%= link_to 'Policy and Terms of Conditions', policy_index_path %></button>
        </div>
      </center>
    <% end %>
  </body>
</html>
